* *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    appearance: none;
    background-color: transparent;
    border: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#timer {
    font-size: 20vw;
}
.box {
    padding: 20px;
    display: flex;
    gap: 50px;
    justify-content: center;
}
#min, #sec {
    width: 50%;
    border: 1px solid #ddd;
    font-size: 3vw;
    color: #fff;
    background-color: rgb(233, 117, 117);
}
#start, #reset {
    padding: 0 0.2em;
    font-weight: bold;
    border: 1px solid #ddd;
    font-size: 5vw;
    color: #fff;
    background-color: rgb(98, 96, 96);
}
#start:disabled, #reset:disabled {
    opacity: 0.2;
}